/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Manrope');


/* navigation */

.content {
    display: flex;
    flex-direction: row;
    background-color: rgb(144, 192, 130, 0.3);
    justify-content: space-between;
    /* border: 1px solid black; */
    list-style-type: none;
    align-items: center;
    margin: 1em -1em;
}

.links {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 70vw;
    margin-left: auto; 
}

.logo {
    display: block;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 2em;
    /* background-color: blue; */
}
a {
    color: #4d1d18;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #555;
    font-weight: bold;
}

/* font */

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 150%;
}
h1 {
    text-align: center;
    color: #87423c;
    font-size: 36px;
    padding-bottom: 1em;
}

.localarea p {
    text-align: justify;
    padding-bottom: 1em;
}

h2 {
color: #4d1d18;
font-size: 24px;
}

/* layout */

body {
    background-color: rgb(49, 190, 183,0.6);
}
main {
    padding: 4em;
    background-color: rgb(231, 141, 141,0.8);
    border-radius: 20px;
}

/* HOME PAGE */
.companyinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.testimonials p {
    font-style: italic;
}

/* LOCAL PAGE */
.localtext {
    column-count: 2;
    border: 1px solid black;
    max-width: 1440px;
    margin: auto;
    column-width: 22em;
}

