/* ----------------------------- NAVIGATION BAR ----------------------------- */

.content {
    display: flex;
    flex-direction: row;
    background-color: rgb(144, 192, 130, 0.2);
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: -1em -1em;
    padding: 0.5em 1em;
    max-width: 100%;
    overflow-x: hidden
}

nav #links {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    margin-left: auto;
}

.logo {
    display: flex;
    width: 300px;
    height: auto;
    margin-left: 0em;
    padding-top: 0.5em;
    transition: 0.7s;
}

.logo:hover {
    transform: scale(1.05);
}

#links a {
    color: #4d1d18;
    text-decoration: none;
    text-align: center;
}

#links a:hover {
    color: #555;
    font-weight: bold;
    transform: scale(1.05);
}

.active {
    color: #555;
    font-weight: bold;
}

.dropdown {
    display: none;
}

/* --------------------------------- FOOTER --------------------------------- */
.footer {
        display: flex;
        flex-direction: row;
        background-color: rgb(102,47,45, 0.3);
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        margin: 0.5em -1em -1em -1em;
        max-width: 100%;
        overflow-x: hidden;
        padding: 0.5em 1em;
        bottom: 0;
        position: relative;
}

.footerlinks {
    margin-left: 2em;
}
.footerlinks a {
    font-size: 10px;
    text-align: center;
    color: black;
}

.footerlinks p {
    font-size: 12px;
}
.footericons {
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
}
.footer img:hover {
    opacity: 0.7;
}
 /* ---------------------------------- font ---------------------------------- */

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 150%;
    text-align: justify;
}
h1 {
    text-align: center;
    color: #87423c;
    font-size: 36px;
    /* padding-bottom: 0.5em; */
    padding-top: 20px;
}

.localarea p {
    text-align: justify;
    padding-bottom: 1em;
}

h2 {
color: #4d1d18;
font-size: 24px;
}

/* --------------------------------- layout --------------------------------- */

body {
    background-color: #C7BFB5;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

main {
    padding: 0 1em;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0em;
    min-height: 78vh;
    padding-bottom: 20px;
    
}

/* -------------------------------- HOMEPAGE -------------------------------- */

.hometext {
    display:grid;
    grid-template-areas:
        "a a b b"
        "a a c c"
        "d f e e"
        "g g e e";
    height: auto;
    width: auto;
    grid-gap: 20px;

}

.hometext div {
    border: 2px solid rgb(214, 223, 90, 0.2);
    cursor:pointer;
    transition:.7s;
    background-color:rgba(255, 255, 255, 0.7);
    padding-left: 1em;
    border-radius: 10px;
    overflow: hidden ;
}

.hometext div:hover {
    border: 2px solid rgb(214, 223, 90, 0.5);
    transform: scale(1.05);
    color: #555;
}

.hometext a {
    display: block;
    text-decoration: none;
    color: black;
}

.testim {
    grid-area: c;
}

.compinfo {
    grid-area: a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 10px
}

.localpage {
    grid-area: b;
}

.theapartment {
    grid-area: e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 10px
}


.directions {
    grid-area: f;
    padding-bottom: 15px;
}

.contactus {
    grid-area: g;
    padding-bottom: 15px;
}

.fees {
    grid-area: d;
}

.hometext p {
    padding-right: 1em;
    text-align: left;
}
/* HOMEPAGE IMAGES */


.hometext img {
    object-fit: fill;
    width: 300px;
    height: auto;
}

/* ------------------------ COMPANY INFORMATION PAGE ------------------------ */

.aboutus {
    display: flex;
    flex-direction: row;
    gap: 2em;
    text-align: justify;
}

.aboutus img {
    object-fit:contain;
    height: 24em;
    align-self: center;
    border-radius: 10px;
}
/* --------------------------- THE APARTMENT PAGE --------------------------- */
.apartmenttext {
    display: grid;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g g";
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 1em;
    align-items: center;
}

.apartmentlist {
    grid-area: a;
}

.apartmentamenities1 {
    grid-area: d;
}

.apartmentamenities2 {
    grid-area: e;
}

.petfriendly {
    grid-area: g;
}

.apartmenttext img {
    margin: auto;
    border-radius: 10px;
    max-width: 100%;
    object-fit: fit;
}

/* -------------------------- LOCAL ACTIVITIES PAGE ------------------------- */
.localtext {
    display: grid;
    grid-template-areas: 
    "a b"
    "c d"
    "e f"
    "g h";
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 1em;
    align-items: center;
}

.localarea1 {
    grid-area: a;
}

.localpic1 {
    grid-area: b;
}

.localarea2 {
    grid-area: d;
}

.localpic2 {
    grid-area: c;
}

.localarea3 {
    grid-area: e;
}

.localpic3 {
    grid-area: f;
}

.localarea4 {
    grid-area: h;
}

.localpic4 {
    grid-area: g;
}
/* Local Activities Images */
.localtext img {
    object-fit: fit;
    border-radius: 10px;
    margin: auto;
    max-width: 100%;
    height: auto;
}

/* -------------------------------- FEES PAGE ------------------------------- */

.booknow {
    background-color: rgb(255, 255, 255,0.7);
    border: none;
    border: 2px solid rgb(214, 223, 90, 0.4);
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 1px;
    margin-bottom: 20px;
    width: 180px;
    transition: .7s;
    font-size: 18px;
}

.booknow:hover {
    background-color: white;
    border: 3px solid rgb(214, 223, 90, 0.4);
    font-weight: bold;
    transform: scale(1.05);
    cursor: pointer;
}

.season button {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgb(214, 223, 90, 0.4);
    margin-left: auto;
    height: 7em;
    padding: 1em;
    text-align: center;
    align-items: center;
    transition: .7s;
}

.season button:hover {
    background-color: white;
    border-width: 3px;
    transform: scale(1.05);
    cursor: pointer;
}

.season {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-items: center;
    margin: auto;
    align-items: center;
}

.season1 {
    display: flex;
    flex-direction: row;
    width: 40vw;
    align-items: center;
}

.tandc {
    padding-bottom: 20px;
}
.tandc p {
    font-style: italic;

}

button a {
    display: block;
    text-decoration: none;
    color: black;
}

table, tr, td {
    border: 1px solid black;
    padding: 2px;
}

/* ---------------------------- TESTMONIALS PAGE ---------------------------- */

.testpic {
    width: 95vw;
    object-fit: contain;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 10px;

}

.testimonials p  {
    line-height: 1.5;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgb(214, 223, 90, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.testimonials p:nth-child(2n) {
    text-align: right;
}

.testimonials p:before {
content: open-quote;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size:40px;
}

.testimonials p:after {
    content: close-quote;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:40px;
    }

/* ----------------------------- CONTACT US/DIRECTION PAGE ---------------------------- */

.contact {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 20px 0px;
    justify-content: space-evenly;
}

.map {
    margin-left: auto;
}

.gettinghere {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* contact form */
#message {
    width: 30vw;
    height: 20vh;
}

label {
 font-weight: bold;
}

input[type=text] {
    margin-top: 1em;
    border: 2px solid rgb(214, 223, 90, 0.4);
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 5px;
}

#email {
    width: 30vw;
}

input[type=text]:hover {
    margin-top: 1em;
    border: 2px solid rgb(214, 223, 90, 0.7);
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 5px;
}

input[type=submit]{
    background-color: rgb(255, 255, 255,0.7);
    border: 2px solid rgb(214, 223, 90, 0.4);
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 1px;
    margin-bottom: 20px;
    width: 140px;
    transition: .7s;
    font-size: 14px;
}

input[type=submit]:hover {
    background-color: white;
    border-width: 2px;
    border: 2px solid rgb(214, 223, 90, 0.4);
    font-weight: bold;
    transform: scale(1.05);
    cursor: pointer;
}


/* ------------------------------ MEDIA SUPPORT ----------------------------- */

@media only screen and (max-width: 800px) {
    .apartmenttext, .localtext, .aboutus, .contact, .gettinghere, .feepage, .hometext  {
        display: flex;
        flex-direction: column;
    }
    
    /* ------------------------------ LAYOUT MOBILE ----------------------------- */
    html, body, main, footer, nav {
        overflow-x: hidden;
        max-width: 100%;
      }
      body, main {
        overflow-x: hidden;
        position: relative
      }

      main {
          margin-top: 15px;
      }
    /* --------------------------------- NAVBAR MOBILE --------------------------------- */
    .dropbtn {
        background-color: rgb(255, 255, 255,0.7);
        color: #4d1d18;;
        font-weight: bold;
        padding: 16px;
        font-size: 16px;
        border-radius: 10px;
        border: 2px solid rgb(214, 223, 90, 0.2);
        display: flex;
        display:block;
        width: 90vw;
        height: auto;
    
      }
    
      .logodropdown {
          display: flex;
          object-fit: contain;
          max-width: 90vw;
          padding: 20px 0;
          margin: auto;
          height: auto;
          
      }
            
      .dropdown {
        display: flex;
        flex-direction: column;
        background-color: rgb(144, 192, 130, 0.2);
        justify-content: center;
        align-items: center;
        margin-top: -1;
        padding: 0.5em 1em;
        max-width: 98vw;
        height: auto;
      }

      
      .dropdown-content {
        display: none;
        position: inherit;
        max-width: 90vw;
        border-radius: 10px;
        z-index: 1;

      }
      
      .dropdown-content a {
        display: flex;
        color: #4d1d18;
        text-decoration: none;
        text-align: center;
        padding: 12px 16px;
        display: block;
      }
            
     .show {
         display:block;
         }
        
    .regularnav {
        display: none;
    }

    /* ------------------------------- FOOTER MOBILE ------------------------------- */
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .footerlinks {
        text-align: center;
        margin: auto;
    }


    .footericons {
        display: flex;
        padding: 15px 0;
        justify-content: space-between;
        margin: auto;

    }
    /* ----------------------------- HOMEPAGE MOBILE ---------------------------- */
    .hometext {
        display: flex;
        flex-direction: column;
    }

    /* --------------------------- COMPANY INFO MOBILE -------------------------- */
    .aboutus img
    {
        object-fit: scale-down;
        max-width: 100%;
        height: auto
    }

    /* ---------------------------- FEES PAGE MOBILE ---------------------------- */
    .season {
        margin: auto;
        width: 100%;
    }

    .season1 {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .season1 p {
        text-align: center;
    }
    
    .season button {
        margin: auto;
        text-align: center;
    }

    /* ------------------------ TESTIMONIALS PAGE MOBILE ------------------------ */
    .testimonials {
        display: flex;
        flex-direction: column;
    }
    img {
        object-fit: scale-down;
        max-width: 100%;
        height: auto
    }
    /* ----------------------------- CONTACT US/DIRECTION PAGE MOBILE---------------------------- */
    .contact, .contact1 p {
        text-align: center;
        text-decoration: none;
    }

    #message, #email {
        width: 80vw;
    }
}